version: '3'

services:
  app:
    build: .
    image: crypto-signal:local
    ports:
      - "8887:8887"
    environment:
      - CONFIG_PATH=/app/config/config.yml
    volumes:
      - config-data:/app/config

volumes:
  config-data:
