version: '3'

services:
  app:
    image: shadowreaver/crypto-signal:master
    working_dir: /app/app
    command: ["/usr/local/bin/python","app.py"]
    environment:
      - CONFIG_PATH=/app/config/config.yml
      - STATE_PATH=/app/config/latest.json
      - ENABLE_WEB_INTERFACE=false
    volumes:
      - .:/app
      - config-data:/app/config
  web:
    image: shadowreaver/crypto-signal:master
    working_dir: /app/app
    command: ["/usr/local/bin/python","web_server.py"]
    ports:
      - "8887:8887"
    environment:
      - CONFIG_PATH=/app/config/config.yml
      - STATE_PATH=/app/config/latest.json
      - ENABLE_WEB_INTERFACE=true
    volumes:
      - .:/app
      - config-data:/app/config

volumes:
  config-data:
