version: '3'

services:
  app:
    image: shadowreaver/crypto-signal:latest
    ports:
      - "8887:8887"
    environment:
      - CONFIG_PATH=/app/config/config.yml
    volumes:
      - ./app:/app
      - config-data:/app/config

volumes:
  config-data:
