@tailwind base;
@tailwind components;
@tailwind utilities;

.field {
  @apply flex flex-col gap-1 text-slate-200;
}

.field input,
.field select {
  @apply bg-slate-800 border border-slate-700 rounded px-2 py-2 text-slate-100;
}
